#nav-bar{
        background-color: black;
        font-family: 'Bona Nova', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


#nav-bar a,#nav-bar button{
    color:white;
     font-size: 18px;
}

.navbar-brand h2, #nav-bar a:hover{
    font-weight: bold;
    font-size: 28px;
    color: #CC9600;
}

.navbar-toggler-icon{
    filter: invert(1);
}